.navigation-bar {
  --nav-height: 44px;
  --nav-left-padding: 16px;
  overflow: hidden;
  flex: none;
}

.navigation-bar .android {
  --nav-height: 48px;
}

.navigation-bar__inner {
  position: relative;
  top: 0;
  left: 0;
  height: calc(var(--nav-height) + env(safe-area-inset-top));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: env(safe-area-inset-top);
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  backdrop-filter: blur(10rpx);
  border-bottom: 1rpx solid var(--td-gray-color-2);
}

.navigation-bar__left {
  position: relative;
  padding-left: var(--nav-left-padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

.navigation-bar__btn_goback_wrapper,
.navigation-bar__btn_home_wrapper {
  padding: 11px 18px 11px 16px;
  margin: -11px -18px -11px -16px;
  border-radius: var(--td-radius-medium);
  transition: all 0.2s ease;
}

.navigation-bar__btn_active {
  background-color: var(--td-gray-color-1);
  transform: scale(0.95);
}

.navigation-bar__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48rpx;
  height: 48rpx;
}

.navigation-bar__center {
  font-size: 34rpx;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  flex: 1;
  height: 100%;
  
  .navigation-bar__title {
    color: var(--td-gray-color-6);
    font-size: 34rpx;
    font-weight: 600;
  }
}

.navigation-bar__loading {
  margin-right: 8rpx;
  display: flex;
  align-items: center;
}

.navigation-bar__right {
  padding-right: var(--nav-left-padding);
  display: flex;
  align-items: center;
  height: 100%;
}
